<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>2018@毕业纪念册</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/init.css">
</head>

<body>
    <div class="black">
        <div class="membersContainer">
            <div class="close"></div>
            <img class="membersItem" src="./images/members.png" alt="">
        </div>
    </div>
    <div class="container">
        
        <div class="members">
            <img class= "member" src="./images/member.png">
        </div>
        <div class="photo">
            <img class='inputBg' src="./images/inputBg.png">
            <div class="nameinput">
                <input id='username' class='inputword' type="text" placeholder="请输入你的名字" name="username">
            </div>
            <div class="photoinput">
                <div class="cameraContainer">
                    <img class="camera" src="./images/camera.png">
                    <input id='camera_image' type="file" name="image" accept="image/*">
                </div>
                <div class="add">
                    <span class="addPhoto">
                        添加照片
                    </span>
                </div>
            </div>
        </div>
        <div class="produce">
            <a href="./produce">
                <img class="produceButton" src="./images/produce.png">
            </a>
        </div>
    </div>
    <script type="text/javascript" src='./javascripts/lib/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src="./javascripts/lib/flexible.js"></script>
    <script type="text/javascript">
    
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext('2d');
        //    瓦片canvas
        var tCanvas = document.createElement("canvas");
        var tctx = tCanvas.getContext("2d");
        var input = document.getElementById("username");
        input.scrollIntoViewIfNeeded();


    </script>
    <script type="text/javascript" src='./javascripts/dist/main.js'></script>
    <script>
    var _mtac = {};
    (function() {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.2";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500618432");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
    </script>
</body>

</html>