<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2018@毕业纪念册</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/init.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/produce.css">
    <script type="text/javascript" src="../javascripts/lib/flexible.js"></script>
    <script type="text/javascript" src='../javascripts/lib/jquery-3.2.1.min.js'></script>
</head>
<body>
    <div class="container"> 
        <div class="photoWall">
            <div class="photos">
                <ul class="photoList">
                    <li class="photoItem">
                    </li>
                    <li class="photoItem"></li>
                    <li class="photoItem"></li>
                </ul>
                <ul class="photoList">
                    <li class="photoItem"></li>
                    <li class="photoItem myPhoto"></li>
                    <li class="photoItem"></li>
                </ul>
                <ul class="photoList">
                    <li class="photoItem"></li>
                    <li class="photoItem"></li>
                    <li class="photoItem"></li>
                </ul>
            </div>
        </div>
        <div class="stamp">
            <span class="toName"></span>
            <div class="headPic">
                
            </div>
            <p class="sentence">
                生活如一条长河，愿你是一叶执着的小舟。啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
            </p>
        </div>
    </div>
    <script type="text/javascript" src="../javascripts/produce.js"></script>
</body>
</html>