<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>2018@毕业纪念册</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/init.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/produce.css">
    <script type="text/javascript" src="./javascripts/lib/flexible.js"></script>
    <script type="text/javascript" src='./javascripts/lib/jquery-3.2.1.min.js'></script>
</head>
<body>

    <div class="container"> 
        <div class="banner">
            <img src="./images/produceBanner.png">
        </div>
        <div class="photoWall">
            <div class="photos">
                <div class="ulContainer">
                    <ul class="photoList">
                        <li class="photoItem">
                        </li>
                        <li class="photoItem"></li>
                        <li class="photoItem"></li>
                    </ul>
                    <ul class="photoList">
                        <li class="photoItem"></li>
                        <li class="photoItem myPhoto"></li>
                        <li class="photoItem"></li>
                    </ul>
                    <ul class="photoList">
                        <li class="photoItem"></li>
                        <li class="photoItem"></li>
                        <li class="photoItem"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="stamp">
            <div class="userinfo">
                <span class="toName"></span>
                <div class="headPic">
                </div>
            </div>
            <p class="sentence">
            </p>
        </div>
    </div>
    
    <script type="text/javascript" src="./javascripts/dist/produce.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>