@font-face{
    font-family: 'myfont';
    src: url('../images/YuppySC-Regular.ttf');
}

html{
    height: 100%;
    width: 100%;
}

body {                                
    overflow: hidden;
    position: fixed;
    width:100%;
    height:100%;
    background: url("../images/produceBackground.jpg");
    background-size:cover;
    background-position:center;
}   

.banner{
    padding-top: 0.4rem;
    height: 1.09667rem;
    width: 7.426667rem;
    margin: 0 auto;
}

.banner img {
    height: 100%;
    width: 100%;
}

.photos{
    position: relative;
    margin: 0 auto;
    margin-top: 0.2rem;
    width: 9.24rem;
    height: 6.013333rem;
    background: url("../images/photoWall.png");
    background-size:cover;
    background-position:center;
}

.photoList{
    float: left;
    width: 33%;
    height: 100%;
}

.ulContainer{
    overflow: hidden; 
    width: 90%;
    margin: 0 auto;
}


.photoItem{
    margin: 0 auto;
    margin-top: 0.426667rem;
    width: 80%;
    height: 1.446667rem;
    box-sizing: border-box;
    border: 0.04rem dashed #e3bf8d;
    border-radius: 10%;
    background-color: #fffdf8;
}

.photoItem img{
    display: block;
    border-radius: 10%;
    margin: 0 auto;
    width: 96%;
    height: 98%;
}

.myPhoto{
    border: 0.04rem dashed #6dac79;
    width: 90%;
    height: 1.6rem;
    margin-top: 0.35rem;
}

.myPhoto img{
    line-height: 1.6rem;
}

.stamp{
    position: relative;
    margin: 0 auto;
    margin-top: 0.466667rem;
    width: 9.24rem;
    height: 4.973333rem;
    background: url("../images/stamp.png");
    background-size:cover;
    background-position:center;
}

.toName{
    display: inline-block;
    height: 0.7rem;
    float: left;
    color: #e77c6e;
    font-size: 0.48rem;
    font-family: myfont;
}

.headPic{
    float: left;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-left: 0.333333rem;
    overflow: hidden;
}

.userinfo{
    width: 60%;
    height: 0.7rem;
    margin: 0 auto;
    padding-top: 0.906667rem;
}

.headPic img{
    width: 100%;
    height: 100%;
}

.sentence{
    padding-top: 0.166667rem;
    margin: 0 auto;
    width: 7.066667rem;
    text-indent: 2em;
    color: #968671;
    font-size: 0.41rem;
    font-family: myfont;
}

.code{
    width: 100%;
    height: 100%;
}

.codeContainer{
    position: absolute;
    width: 2.52rem;
    height: 1.893333rem;
    bottom: 0.396667rem;
    right: 0.266667rem;
}


.footer {
    margin-top: 4vh;
    height: 14vh;
    position: relative;
}

.font {
    position: absolute;
    left: 10vw;
    bottom: 0;
}

.qr {
    position: absolute;
    right: 10vw;
    bottom: 0;
    
}
